{
  "StravaSyncFunction": {
    "STRAVA_CLIENT_ID": "YOUR_STRAVA_CLIENT_ID",
    "STRAVA_CLIENT_SECRET": "YOUR_STRAVA_CLIENT_SECRET",
    "STRAVA_VERIFY_TOKEN": "YOUR_STRAVA_VERIFY_TOKEN",
    "GOOGLE_CLIENT_ID": "YOUR_GOOGLE_CLIENT_ID",
    "GOOGLE_CLIENT_SECRET": "YOUR_GOOGLE_CLIENT_SECRET",
    "JWT_SECRET": "YOUR_JWT_SECRET",
    "USERS_TABLE_NAME": "InfrastructureStack-UsersTableXXXXXX-XXXXXXXXXXXX",
    "KMS_KEY_ID": "YOUR_KMS_KEY_ID",
    "LOG_LEVEL": "debug"
  }
}
